/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
@import url(../../lib/font/hasklig/hasklig.css);


// Override theme settings (see ../template/settings.scss)
// $backgroundColor: #191919;
$backgroundColor: #000;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 42px;
$mainFont: Helvetica, sans-serif;
$headingFont: Helvetica, sans-serif;
$codeFont: Hasklig, Helvetica, monospace;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 1.6em;
$heading2Size: 1.3em;
$heading3Size: 1.0em;
$heading4Size: 0.8em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal blockquote {
	background-color: #222;
}

.reveal code {
	background-color: rgb(31, 31, 31);
	border-radius: 13px;
	padding: 0px 4px 0px 4px;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(107, 107, 107);
}
